.canner{
  position: absolute;
  width: 35%;
  height: 95%;
  margin-left: 1.5%;
  top: 2.5%;
  overflow: hidden;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .canner{
    width: 40%;
  }
}

@media screen and (max-width: 425px) {
 .canner{
  width: 53%;
  margin-left: 3%;
 } 
}

@media screen and (max-width: 320px) {
 .canner{
  width: 60%;
 } 
}

.nav-list{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(49,49,49,0.88);
  left: -100%;
  color: white;
  z-index: 999;
  overflow: hidden;
}

/*@media screen and (max-width: 425px) {
 .nav-list{
  margin-left: 3%;
 } 
}*/

.nav-pic{
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.logo2{
  float: left;
  width: 32%;
  min-width: 80px;
}

.close{
  float: right;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.nav-lists{
  width: 28%;
  min-width: 121px;
  margin-top: 28%;
  margin-left: 45%;
  white-space: pre;
  overflow: hidden;
  font-weight: 500 !important;
  font-family: dutcheb;
}

@media screen and (min-width: 1441px) {
 .nav-lists{
  overflow: visible;
 } 
}

@media screen and (max-width: 610px) {
 .nav-lists{
  margin-left: 20%;
 } 
}

@media screen and (min-width: 1441px) {
 .nav-lists p{
  margin-bottom: 25px;
 } 
}

.copyright2{
  font-family: '方正兰亭纤黑简体';
  position: absolute;
  bottom: 2%;
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1441px) {
 .copyright2{
  font-size: 22px;
  font-weight: 500;
  word-spacing: 1px;
 } 
}

.nav-lists1{
  padding: 0 !important;
  display:table-cell;   
  vertical-align:bottom;
  font-family: '方正兰亭纤黑简体';
  font-size: 16px;
}


@media screen and (min-width: 1441px) {
 .nav-lists1{
  font-size: 28px;
 } 
}

.nav-lists2{
  padding: 0 !important;
  display:table-cell;   
  vertical-align:bottom;
  font-family: 'dutcheb';
  font-size: 13px;
}

@media screen and (min-width: 1441px) {
 .nav-lists2{
  font-size: 22px;
 } 
}